---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About Me";
---


  <BaseLayout pageTitle={pageTitle}>
    <h2>... and me new Astro site!</h2>
  </BaseLayout>

    